<div class="main-content">
  <div class="quote" id="question">
    <h2><%= @question %></h2>
    <p><em>-You</em></p>
  </div>
  <div class="quote" id="answer">
    <h2><%= @answer %></h2>
    <p><em>-Coach</em></p>
  </div>

  <%= link_to 'Ask another question', ask_path %>
</div>
